body{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
}

main{
    margin: 0px;
    padding: 0px;
    width : 425px;
    height: auto;
    overflow: hidden;
    background-color: grey;
    & * {
        margin: 0px;
        padding: 0px;
    }
}